.parallax {
  position: relative;
  height: 150vw;
  overflow: hidden;
  background-image: url(../img/home_page/header/background.webp);
}

.parallax-layer {
  position: absolute;
  bottom: 0;
}

.parallax-layer-1 {
  bottom: -100;
}

.parallax-layer-5 {
  top: -4%;
}

.parallax-layer-7 {
  bottom: 300;
  width: 200%;
  scale: 1.5;
}

.parallax-layer-8 {
  bottom: -60;
}
