// .bg {
//   position: absolute;
//   z-index: 1;
//   background-color: #ffbed0;
//   width: 100vh;
//   height: 100vh;
//   opacity: 0;
// }

.parallax {
  position: relative;
  height: 150vw;
  overflow: hidden;
  background-image: url(../img/home_page/header/background.webp);
}

.layer {
  position: absolute;
  bottom: 0;
}

.layer-5 {
  top: 20%;
  // scale: 1.5;
}

.layer-7 {
  width: 200%;
  scale: 1.5;
}

.layer-8 {
  bottom: -60;
}
