.section {
  position: relative;
  height: 50vw;
  overflow: hidden;
}

.section-layer {
  position: absolute;
  bottom: 0;
}

.section-txt-style {
  font-family: "harbour";
  color: #fff;
  text-shadow: 10px 6px 13px rgba(0, 0, 0, 0.8);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 786px) {
  .section-txt-style {
    font-size: 20px;
    line-height: 23px;
  }
}

.section-king-layer-1 {
  scale: 1.5;
}

.section-king-layer-3 {
  bottom: 0;
  left: 0;
}

.section-king-layer-4 {
  scale: 1.5;
  position: absolute;
  top: 40%;
  right: 15%;
}

.section-ysa-layer-1 {
  scale: 1.5;
}

.section-ysa-layer-3 {
  bottom: 0;
  left: 0;
}

.section-ysa-layer-4 {
  scale: 1.5;
  position: absolute;
  top: 50%;
  left: 15%;
}

.section-sword-layer-1 {
  scale: 1.5;
}

.section-sword-layer-3 {
  bottom: 0;
  left: 0;
}

.section-sword-layer-4 {
  scale: 1.5;
  position: absolute;
  top: 50%;
  right: 15%;
}
