@font-face {
  font-family: "harbour";
  src: url("../fonts/Harbour-Regular.woff") format("woff"),
    url("../fonts/Harbour-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "katari";
  src: url("../fonts/Katari-Medium.woff") format("woff"),
    url("../fonts/Katari-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
