* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffbed0;
}

// .h-100 {
//   height: 100vh;
// }

// .slider-mask {
//   border: 5px solid orange;
//   border-radius: 10px;
//   overflow: hidden;
// }

// .slider-track {
//   height: 100%;
//   display: inline-flex;
//   border: 5px solid red;
//   border-radius: 5px;
// }

// .slider-track .screen {
//   width: calc(100vw - 30px);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 5px solid blue;
// }

.idk {
  padding: 500px;
  background-color: black;
  position: relative;
  z-index: 10;
}
